.aboutContentImage{
    height: 400px;
    margin: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: #1d1d1d;
    background-color: transparent;
    /* background-image: url(/myprofile2.png); */
    background-image: url(/agency2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.processList{
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-top: 20px;
}

.processListItem{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0.2);
    background-color: #000;
}
.processBar {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 5px;
    border-radius: 0px;
    background-color: #3a3a3a;
}

.coloredBar {
    height: 5px;
    border-radius: 0px;
    background-color: #58d69d;
}
.topProcess {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.processTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}
.processPercentage {
    margin-top: 0px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
}
.buttonWrapper{
    display: flex;
}
.buttonWrapper a + a{
    margin-left:20px;
}