.collectionListBlog {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}
.wDynList{
    opacity: 0.91557;
}
.blogCard {
    overflow: hidden;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
}
.blogImage {
    height: 400px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 0px;
    background-image: url(/background-image.svg);
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
    transition: opacity 400ms ease, -webkit-transform 400ms ease;
    transition: opacity 400ms ease, transform 400ms ease;
    transition: opacity 400ms ease, transform 400ms ease, -webkit-transform 400ms ease;
}
.blogImage:hover{
    opacity: 0.8;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.blogContent{
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #000;
    color: #fff;
}

.imageDate{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    height: auto;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    font-family: var(--primaryFont);
    font-size: 30px; 
}

.blogDate{
    width: 100%;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.bottomDate{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 1px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px none #fff;
    background-color: #21bfca;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.blogTitle {
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.bottomBlogTags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blogTagsText{
    margin-right: 3px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 4px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.blogTagsText:hover{
    background-color: var(--primary);
}