.button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 60px;
    padding: 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.3);
    border-radius: 0px;
    background-color: #000;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5px;
    text-decoration: none;
}

.button:hover {
    border-color: hsla(184, 0%, 96%, 0.4);
    background-color: var(--primary);
}

@media(max-width:1366px){
    .button{
        font-size: 15px;
        line-height: 20px;
    }
}
@media(max-width:767px){
    .button{
        padding: 4px 10px;
        height: 40px;
    }
}