.footer {
    position: relative;
    padding: 60px 20px 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-style: solid none none;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2) #000 #000;
    background-color: #000;
    text-align: center;
}
.footerGrid {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .footerSubmit {
    padding-right: 12%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }

  .alternative {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-transform: none;
}
.dot {
    color: var(--primary);
    font-size: 40px;
    line-height: 30px;
}

.footerMenu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.footerMenu li {
        display: inline-flex;
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
}
.footerMenu li a{
    font-family:var(--primaryFont);
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    padding-right: 30px;
    white-space: nowrap;
}

.footerMenu li:hover a{
    color:var(--primary)
}

.footerCopyright{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(212, 228, 240, 0.18);
    color: #666;
}
.footerBottomText {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.footerLink {
    display: inline-block;
    margin-bottom: 0px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 300ms ease, color 300ms ease;
    transition: border 300ms ease, color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #d4e4f0;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
}

.footerLink:hover {
    border-bottom: 2px solid #d4e4f0;
    color: #fff;
    text-decoration: none;
}

.footerBottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
font-weight: 400;
justify-content: center;
align-items: center;
}
.linkAlternativeSpace{
    margin-right: 4px;
    margin-left: 4px;
    color: rgba(113, 151, 180, 0.61);
}


@media(max-width:960px){
    .footerMenu li a{
        font-size: 16px;
        padding: 6px;
    }
}
@media(max-width:767px){
    .footerGrid{
        grid-template-columns:1fr !important;
    }
    .footerMenu{
        columns: 2;
        display: block;
    }
    .footerCopyright{
        flex-direction: column;
    }
}