.getAQuote {
  /* height: 100vh; */
  padding: 90px 0px;
}
.containerInner {
  height: 100%;
}
.layoutInner {
  height: 100%;
  grid-template-rows: inherit;
}
.leftCols {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightCols {
  background-color: var(--primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.contactClose {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.contactClose:before,
.contactClose:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    height: 1px;
    transition: background .2s ease;
}

.contactClose:before{
    transform: rotate(-45deg);
}
.contactClose:after{
    transform: rotate(45deg);
}