:root {
  --dark: #000000;
  --primary: #00aeee;
  --secondary: #f9f7ff;
  --ternary: #00aeef;
  --shadow: 1em 1em 4em rgba(84, 103, 255, 0.2);
  --primaryFont: "Space Grotesk", sans-serif;
  --secondaryFont: "PT Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: var(--dark);
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-family: var(--secondaryFont);
}
a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
}
h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  text-transform: none;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 42px;
  line-height: 52px;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: none;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

p {
  margin-bottom: 10px;
  font-family: var(--primaryFont);
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.container.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.container.navbar-container {
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  position: relative;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.line-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.line-vertical {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13.33%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid hsla(184, 0%, 96%, 0.1);
}

.line-vertical.first {
  border-left: 1px solid hsla(184, 0%, 96%, 0.1);
  border-right-color: hsla(184, 0%, 96%, 0.1);
}

.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.grid-scale {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.grid-scale.asimetric {
  -ms-grid-columns: 1.3fr 1fr;
  grid-template-columns: 1.3fr 1fr;
}
.grid-scale.asimetric.right-side {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1.3fr 1.3fr;
  grid-template-columns: 1.3fr 1.3fr;
}
.grid {
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 16px;
  line-height: 26px;
}
.grid.two-column {
  margin-top: 0px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.grid.padding {
  margin-top: 60px;
}
.features-wrapper {
  width: 100%;
  margin-top: 0px;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.utility-page-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.testimonial-block-color {
  position: absolute;
  left: 50%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 100%;
  max-width: 50%;
  margin: 0px auto;
  border-radius: 0px;
  background-color: #f1f8ff;
}

.testimonial-block-color.light {
  height: 100vh;
  background-color: #bac6f6;
}

.testimonial-block-color.light.right {
  height: 100vh;
  max-width: 35%;
  margin-right: 0px;
  background-color: var(--primary);
}

.divider {
  width: 80px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 100px;
  background-color: var(--primary);
}

.button-color {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.button-color:hover {
  border-color: #1d1d1d !important;
  background-color: #1d1d1d !important;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section.padding-top {
  padding-top: 120px;
}
.info-title {
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--primary);
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  text-transform: capitalize;
}


.swiper-pagination {
  left: 0px;
  right: 0px;
}
.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 1em !important;
  height: 1em !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  cursor: pointer;
  margin: 0 3px 0.5em !important;
  transition:
    background-color 100ms,
    color 100ms !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.section-column-grid {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-areas: ".";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}
.contact-content {
  position: relative;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(184, 0%, 96%, 0.2);
  background-color: #000;
  align-items: center;
}
.form-block-contact {
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.contact-info{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  height: 700px;
  padding: 34px;
  flex-direction: column;
  border: 1px none #000;
  background-color: #1d1d1d;
}
.contact-heading{
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  text-align: left;
}
.large-paragraph{
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
.image-contact{
  height: 260px;
  margin-top: 40px;
  background-image: url(/contact-info.jpg);
  background-position: 0px 0px;
  background-size: cover;
}
@media (max-width: 1366px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 767px) {
  .container.navbar-container,
  .container{
    max-width: 100%;
    padding: 0 15px;
  }
  #navbarToggle:checked nav {
    display: block !important;
}
  .testimonial-block-color.light.right {
    background-color: transparent;
  }
  .grid,
  .grid-scale.asimetric.right-side,
  .grid.two-column,
  .features-wrapper {
    grid-template-columns: 1fr;
  }
  .container.navbar-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
}
