.sectionHeading{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px none #000;
    text-align: center;
}
.title{
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    text-transform: none;
}

.left{
    text-align: left;
    align-items:flex-start;
}
.rightLinkSection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
}
.rightLinkSection:hover {
    color: #fff;
    text-decoration: underline;
}

@media(max-width:1112px){
    .title{
    font-size: 38px;
    line-height: 48px;
    }
}