.stickyHeader{
    position: sticky;
    top:0px;
    z-index: 100;
}
.navbar{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    width: 100%;
    height: 111px;
    padding: 10px 24px;
    align-items: center;
    border-bottom: 1px solid transparent;
    will-change: background;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    transition: all 100ms linear;
}
.isActive{
    background-color: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2);
}

.navColumn{
    margin-right: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    position: relative;
}
.navbarToggle{
    position: relative;
    padding: 10px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbarToggle svg{
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0px;
}
.brand {
    display: flex;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: var(--primaryFont);
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-transform: none;
}
.dot {
    color: var(--primary);
    font-size: 40px;
    line-height: 30px;
}

.navMenu {
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.navMenu ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navMenu ul li {
        display: inline-flex;
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
}
.navMenu ul li a{
    font-family:var(--primaryFont);
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    padding-right: 30px;
    white-space: nowrap;
}
.navMenu ul li:hover a{
    color:var(--primary)
}


@media(max-width:1366px){
    .navMenu ul li a{
        font-size: 16px;
        line-height: 20px;
        padding-right: 15px;
    }
    
}

@media(max-width:767px){
.navbar{height: auto;padding-left: 0px;padding-right: 0px;}
.navMenu{display:none;order:3;
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2);
}

.navColumn{margin-right: 0px;order: 1;}
.navbarToggle{display: flex;}
.navColumn:last-child{order: 2;}
.navMenu ul{flex-direction: column;}
.stickyHeader{position: relative;}
.navMenu ul li{width: 100%;}
.navMenu ul li a{width: 100%;}
}