.hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 20px;
    position: relative;
    overflow: hidden;
}

.sideTextInfo {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    font-family: var(--primaryFont);
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
}

.headerSection{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
}

.heroHeading{
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.1;
}
.textWrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
.textLine {
    color: var(--primary);
    font-size: 90px;
    line-height: 1;
    font-weight: 500;
  }
  .buttonWrapper {
    display: -ms-grid;
    display: grid;
    width: auto;
    margin-top: 40px;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.heroSideImage {
    display: flex;
    width: 400px;
    /* height: 500px; */
    margin-right: 0px;
    /* margin-bottom: 30px; */
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0px;
    background-color: #fff;
    /* background-image: url("/agency.jpeg"); 
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;*/
    box-shadow: 21px 21px 90px 0 rgba(21, 31, 71, 0.2);
  }
.heroSideImage {
    width: 450px;
    /* height: 550px;
    background-color: transparent;
    background-image: url("/agency.jpeg");
    background-position: 50% 50%;
    background-size: 550px;
    background-repeat: no-repeat;
    box-shadow: none; */
}

.pesonalInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 0px;
    background-color: #fff;
}
.heroIn{
    width: 100%;
    padding: 40px;
    border: 1px solid transparent;
    background-color: #1d1d1d;
}

.avatarInfo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-transform: none;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
   
}
.contactInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    text-decoration: none;
}

.emailIcon {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 100px;
    background-color: var(--primary);
    background-image: url(/mail.png);
    background-position: 50% 50%;
    background-size: 28px;
    background-repeat: no-repeat;
}

@media(max-width:1366px){
    .textLine {
        font-size: 75px;
        line-height: 65px;
      }
}
@media(max-width:767px){
    .hero{
        padding-left: 0px;
        padding-right: 0px;
    }
    .heroHeading{
        font-size: 20px;
    }
    .textLine {
        font-size: 45px;
        line-height: 55px;
      }  
      .sideTextInfo{
        max-width: 270px;
      }

      .heroIn{
        padding: 15px;
      }
}