.pageHeader{
    position: relative;
  height: 440px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid hsla(184, 0%, 96%, 0.2);
  background-color: #000;
  font-family: 'Space Grotesk', sans-serif;
}

.headline{
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: -1px;
}


.breadcrumbsCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px 1px 0px;
    border-color: #000 #d4e4f0 #d4e4f0 #000;
    background-color: transparent;
    font-size: 13px;
    line-height: 23px;
  }

  .linkbreadcrumbsCard {
    margin-right: 0px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #a9bce0;
    border-radius: 10px;
    background-color: transparent;
    color: #8796b4;
    text-decoration: none;
    margin-right: 0px;
    padding: 10px 20px;
    border-style: solid solid none;
    border-color: hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    background-color: #000;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
  }
  
  .linkbreadcrumbsCard:hover {
    text-decoration: none;
  }

  .lightBreadcrumbs{
    display: block;
    margin-right: 0px;
    margin-left: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid solid none;
    border-width: 1px;
    border-color: rgba(212, 228, 240, 0.2);
    border-radius: 0px;
    background-color: #000;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    text-align: center;
   
  }

  .activeBreadcrumbs{
    width: auto;
    margin-left: -1px;
    border-style: solid solid none;
    border-bottom-width: 1px;
    background-color: #1d1d1d;
    box-shadow: none;
  }