.partnerSec{
    display: flex;
    padding: 60px 20px 60px;
    flex-direction: column;
    align-items: flex-start;
}
.logoCard {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    background-color: #000;
    text-align: center;
}
.logotypesGrid {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    opacity: 0.7;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.logoProjects {
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    border-style: none;
    border-width: 0px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}