.wForm{
    margin: 0 0 15px;
}

.Form {
    width: 99.99996%;
    text-align: left;
}

.gridContact {
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.contactUsField {
    margin-bottom: 8px;
    /* font-family: 'Space Grotesk', sans-serif; */
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}
.wInput, .wSelect {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.wInput:focus, .wSelect:focus {
    border-color: var(--primary);
    outline: 0;
}
.textField {
    height: 44px;
    max-width: none;
    min-width: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    background-color: transparent;
    /* font-family: 'Space Grotesk', sans-serif; */
    color: #fff;
    line-height: 24px;
}
.textField:hover {
    border-color: var(--primary);
}
.selectField {
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 96.1%, 0.2);
    border-radius: 0px;
    background-color: transparent;
    /* font-family: 'Space Grotesk', sans-serif; */
    color: #fff;
}
.textAreaSec{
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
}
.message {
    height: auto;
    min-height: 140px;
    color: #fff;
    resize: none;
}
.button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 60px;
    padding: 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.3);
    border-radius: 0px;
    background-color: #000;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    /* font-family: 'Space Grotesk', sans-serif; */
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5px;
    text-decoration: none;
}
.button:hover {
    border-color: #1d1d1d;
    background-color: #1d1d1d;
}

@media(max-width:767px){
    .gridContact{
        display: flex;
        flex-direction: column;
    }
}