.servicesCard{
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        padding: 30px 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        border: 0px none transparent;
        border-radius: 0px;
        background-color: #000;
        -webkit-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
        color: #333;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
  
}

.servicesCardLine{
        height: 300px;
        padding: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: hsla(0, 0%, 100%, 0.2);
        background-color: #000;
    
}
.featuresIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    margin-bottom: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: transparent;
    color: #00cca7;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.IconOne {
    position: static;
    left: auto;
    top: 40px;
    right: auto;
    bottom: auto;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: transparent;
    background-image: url(/web-design-150.png);
    background-position: 50% 50%;
    /* background-size: contain; */
    background-size: 60px;
    background-repeat: no-repeat;
}
.IconTwo {
    position: static;
    left: auto;
    top: 40px;
    right: auto;
    bottom: auto;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: transparent;
    background-image: url(/google-images-150.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.IconThree {
    position: static;
    left: auto;
    top: 40px;
    right: auto;
    bottom: auto;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: transparent;
    background-image: url(/design-150.png);
    background-position: 50% 50%;
    background-size: 60px;
    background-repeat: no-repeat;
}

.servicesCard p{
    font-size: 14px;
    color: #ffffff98;
}