.testimonialSlider {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-width: 1px;
    border-color: #d2d2f5;
    border-radius: 10px;
    background-color: transparent;
}

.testimonialsCard{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
}

.ctaInfoWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonialsImage {
    width: 200px;
    height: 200px;
    border-style: none;
    border-width: 0px;
    border-color: #d4e4f0;
    border-radius: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 40, 48, 0.09)), to(rgba(39, 40, 48, 0.09))), url(/teacher1.jpg);
    background-image: linear-gradient(180deg, rgba(39, 40, 48, 0.09), rgba(39, 40, 48, 0.09)), url(/teacher1.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.ctaInfo {
    margin-left: 80px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.testimonialTitle{
    margin-bottom: 20px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}
.testimonialTitle strong{
    color: #ffffff;
    
}


.testimonialsContent{
    margin-bottom: 0px;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
}

