.videoSection {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 36vh;
    min-height: 600px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px none #000;
    background-color: #272830;
}

.backgroundVideo {
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-style: solid none;
    border-width: 0px;
    border-color: rgba(39, 40, 48, 0.2) #272830 hsla(184, 0%, 96%, 0.2);
    border-radius: 0px;
    position: relative;
    color: white;
}
.backgroundVideo > video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}
.overlayVideo {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.sloganWrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    margin-right: 0px;
    margin-left: auto;
    padding: 40px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    text-align: center;
}
.sloganText {
    position: relative;
    z-index: 2;
    font-size: 13px;
    line-height: 20px;
}
.topTitle {
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: none;
  }

  .formBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 15px;
}

.inputField {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
    border: 0px none #000;
    background-color: transparent;
  
}
.inputField:focus{
    border-color: #3898EC;
    outline: 0;
}
.button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 161px;
    height: 60px;
    padding: 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.3);
    border-radius: 0px;
    background-color: #000;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5px;
    text-decoration: none;
    cursor: pointer;
}