.collectionListProjects {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}
.wDynList{
    opacity: 0.91557;
}
.gallery {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(184, 0%, 96%, 0.2);
    transition: all 400ms ease;
  }
.galleryImage {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-radius: 0px;
    background-image: url(/background-image.svg);
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    text-decoration: none;
    max-width: 100%;
    transition: all 400ms ease;
}

.textHover {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #000;
    font-weight: 700;
    transform: translate3d(0px, 70px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 400ms ease;
}
.gallery:hover .galleryImage{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.gallery:hover .textHover{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.linkPortfolio{
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    
}

.titleText {
    margin-bottom: 0px;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
}

@media(max-width:767px){
    .collectionListProjects{
      grid-template-columns:1fr;
    }
  }